<h2> Character Profile </h2>

<p>Name: <%= @character.name %></p>
<% if @character.party %>
  <p>Party: <%= link_to @character.party.name, party_path(@character.party) %></p>
<% else %>
  <p>Party: Not a member of a party yet!</p>
<% end %>
<p>Level: <%= @character.level %></p>
<p>Race: <%= @character.race %></p>
<p>Class: <%= @character.character_class %></p>
<p>Alignment: <%= @character.alignment %></p>
<p>Strength: <%= @character.strength %></p>
<p>Dexterity: <%= @character.dexterity %></p>
<p>Constitution: <%= @character.constitution %></p>
<p>Intelligence: <%= @character.intelligence %></p>
<p>Wisdom: <%= @character.wisdom %></p>
<p>Charisma: <%= @character.charisma %></p>
<p>Hit Points: <%= @character.hp %></p>
<p>Armor Class: <%= @character.ac %></p>
<p>Initiative: <%= @character.initiative %></p>
<p>Speed: <%= @character.speed %></p>
<p>Notes: <%= @character.notes %></p>

<% if current_user.id == @character.user_id %>
  <%= form_tag(character_secrets_path(@character), method: :get) do %>
    <input type="password" name="secret_password" id="secret_password">
    <input class="btn btn-primary" type="submit" value="See or Add Secrets">
  <% end %>

  <%= link_to "Edit Character", edit_character_path(@character) %><br><br>

  <%= form_tag(character_path, method: :delete) do %>
    <input class="btn btn-primary" type="submit" value="Delete Character">
  <% end %>
<% end %>
