<% if @secrets.count > 0 %>
  <ul>
    <% @secrets.each do |secret| %>
      <li><%= secret.content %><br>
      <a class="btn btn-primary" href="<%= edit_character_secret_path(@character, secret) %>">Edit</a>
      <%= form_tag(character_secret_path(@character, secret), method: :delete) do %>
        <input class="btn btn-primary" type="submit" value="Delete">
      <% end %>



      </li>
    <% end %>
  </ul>
<% else %>
  <p>This character has nothing to hide...yet.</p>
<% end %>
<h3><%= link_to "Add a new secret!", new_character_secret_path(@character) %></h3>
<%= link_to "Go back to view character", character_path(@character) %>
