<h3><%= @secret.content %></h3>

<% if @previous_secret != nil %>
<%= link_to "Previous Secret", character_secrets_path + "/#{@previous_secret.id}", class: "switch", id: "prev" %>
<% else %>
<%= link_to "Previous Secret", "#", class: "switch", id: "prev", style: "display: none" %>
<% end %>
&nbsp
<% if @next_secret != nil %>
<%= link_to "Next Secret", character_secrets_path + "/#{@next_secret.id}", class: "switch", id: "next" %>
<% else %>
<%= link_to "Next Secret", "#", class: "switch", id: "next", style: "display: none" %>
<% end %>

<br><br><%= link_to "Go back to view character", character_path(@character) %>
